<?xml version="1.0" encoding="UTF-8"?>
<theme>
    <formatVersion>7</formatVersion>

    <view name="menu">
        <menuText name="menutitle">
            <fontPath>./resources/fonts/RobotoCondensed-SemiBold.ttf</fontPath>
            <fontSize>0.02</fontSize>
            <color>ffffff</color>
        </menuText>

        <menuText name="menufooter">
            <fontPath>./resources/fonts/RobotoCondensed-Regular.ttf</fontPath>
            <fontSize>0.016</fontSize>
            <color>868686</color>
        </menuText>

        <menuText name="menutext">
            <fontPath>./resources/fonts/RobotoCondensed-Regular.ttf</fontPath>
            <fontSize>0.020</fontSize>
            <color>868686</color>
            <separatorColor>222222</separatorColor>

            <selectorColor ifSubset="colors:white">${white}</selectorColor>
            <selectorColor ifSubset="colors:pink">${pink}</selectorColor>
            <selectorColor ifSubset="colors:red">${red}</selectorColor>
            <selectorColor ifSubset="colors:blue">${blue}</selectorColor>
            <selectorColor ifSubset="colors:gray">${gray}</selectorColor>
            <selectorColor ifSubset="colors:green">${green}</selectorColor>
            <selectorColor ifSubset="colors:purple">${purple}</selectorColor>
            <selectorColor ifSubset="colors:yellow">${yellow}</selectorColor>

            <selectorColorEnd ifSubset="colors:white">${white}</selectorColorEnd>
            <selectorColorEnd ifSubset="colors:pink">${pink}</selectorColorEnd>
            <selectorColorEnd ifSubset="colors:red">${red}</selectorColorEnd>
            <selectorColorEnd ifSubset="colors:blue">${blue}</selectorColorEnd>
            <selectorColorEnd ifSubset="colors:gray">${gray}</selectorColorEnd>
            <selectorColorEnd ifSubset="colors:green">${green}</selectorColorEnd>
            <selectorColorEnd ifSubset="colors:purple">${purple}</selectorColorEnd>
            <selectorColorEnd ifSubset="colors:yellow">${yellow}</selectorColorEnd>

            <selectedColor>FFFFFF</selectedColor>
            <selectedColor ifSubset="colors:white">222222</selectedColor>
            <selectedColor ifSubset="colors:green">222222</selectedColor>
            <selectedColor ifSubset="colors:yellow">222222</selectedColor>

            <selectorGradientType>horizontal</selectorGradientType>
        </menuText>

        <menuTextSmall name="menutextsmall">
            <fontPath>./resources/fonts/RobotoCondensed-Regular.ttf</fontPath>
            <fontSize>0.014</fontSize>
            <color>FFFFFF</color>
        </menuTextSmall>

        <menuBackground name="menubg">
            <color>222222</color>
            <cornerSize>32 32</cornerSize>
        </menuBackground>

        <menuIcons name="menuicons">
            <iconKodi>./resources/icons/kodi.png</iconKodi>
            <iconSystem>./resources/icons/config.png</iconSystem>
            <iconUpdates>./resources/icons/updates.png</iconUpdates>
            <iconGames>./resources/icons/games.png</iconGames>
            <iconControllers>./resources/icons/controllers.png</iconControllers>
            <iconUI>./resources/icons/ui.png</iconUI>
            <iconSound>./resources/icons/sound.png</iconSound>
            <iconNetwork>./resources/icons/network.png</iconNetwork>
            <iconScraper>./resources/icons/scraper.png</iconScraper>
            <iconAdvanced>./resources/icons/advanced.png</iconAdvanced>
            <iconQuit>./resources/icons/quit.png</iconQuit>
            <iconRestart>./resources/icons/restart.png</iconRestart>
            <iconShutdown>./resources/icons/shutdown.png</iconShutdown>
            <iconFastShutdown>./resources/icons/fastshutdown.png</iconFastShutdown>
            <iconRetroachievements>./resources/icons/contest.png</iconRetroachievements>
            <iconEmuelec>./resources/icons/emuelec.png</iconEmuelec>
        </menuIcons>

        <helpsystem name="help">
            <fontPath>./resources/fonts/RobotoCondensed-Regular.ttf</fontPath>
            <fontSize>0.020</fontSize>
            <pos>0.06 0.955</pos>
            <textColor>FFFFFF</textColor>
        </helpsystem>
    </view>

</theme>